{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{#
  Description of what this file is for

  @package  craft3
  @author David Hellmann [david@hellmann.io]

  a-logo
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'a-logo',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  url: null,
  name: 'logo'
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Modul -- #}
{% if opt.name %}
  <div class="{{ opt.cn }}
              {% for modifier in opt.modifiers %}
                {{ modifier | length ? '  ' ~ opt.cn ~ '--' ~ modifier }}
              {% endfor %}
              {% for customClass in opt.customClasses %}
                {{ customClass | length ? '  ' ~ customClass }}
              {% endfor %}  {{ opt.js ? opt.cn|replace({ 'a-' : 'js-' }) : '' }}"
              {% for key, value in opt.data %}
                {{ 'data-' ~ key ~ '=' ~ value }}
              {% endfor %}>
    {% if opt.url %}
      <a class="{{ opt.cn ~ '__link' }}" href="{{ opt.url }}">
    {% endif %}
      {% include '_partials/svg/' ~ opt.name ~ '.svg.twig' %}
    {% if opt.url %}
      </a>
    {% endif %}
  </div>
{% endif %}

