{#
  Description of what this file is for

  @package  <%= projectName %>
<% for (var i=0; i < authors.length; i++) { -%>
  @author <%= authors[i].name %> [<%= authors[i].email %>]
<% } -%>

  <%= pathOptions.key.charAt(0) %>-<%= moduleName.replace('-', '_') %>
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: '<%= pathOptions.key.charAt(0) %>-<%= moduleName.replace('-', '_') %>',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  vSpace: null,
  foo: null
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Modul -- #}
{% if opt.foo %}
  <div class="{{ opt.cn }}
              {% for modifier in opt.modifiers %}
                {{ modifier | length ? '  ' ~ opt.cn ~ '--' ~ modifier }}
              {% endfor %}
              {% if opt.vSpace %}
                {{ '  ' ~ 'o-vSpace--' ~ opt.vSpace }}
              {% endif %}
              {% for customClass in opt.customClasses %}
                {{ customClass | length ? '  ' ~ customClass }}
              {% endfor %}  {{ opt.js ? opt.cn|replace({ '<%= pathOptions.key.charAt(0) %>-' : 'js-' }) : '' }}"
    {% for key, value in opt.data %}
      {{ 'data-' ~ key ~ '=' ~ value }}
    {% endfor %}>
    <div class="{{ opt.cn ~ '__wrapper' }}">
      <div class="{{ opt.cn ~ '__inner' }}">
        <%= moduleName.replace('-', '_') %>
      </div>
    </div>
  </div>
{% endif %}

