{#
  Master Layout
  ------------------------------------------------------------

  This i the basic layout. Feel free to modify
#}

<!DOCTYPE html>
<html class="" lang="{{ craft.app.locale }}">
<head>

  {# -- CHECK JS -- #}
  {% include '_partials/global/_checkJS.twig' %}

  {# -- CRITICAL CSS -- #}
  {% set cacheVal = getCookie('critical-css') %}
  {% if not cacheVal or craft.app.config.general.devMode %}
    {{ setCookie('critical-css', now | date_modify("+7 days").timestamp ) }}
    {% block appInlineCSS %}
    {% endblock %}
  {% endif %}

  {# -- CSS Part -- #}
  {% include '_partials/header/_css-part.twig' %}

  {# -- META -- #}
  {% include '_partials/header/_meta.twig' %}

  {# -- SCRIPTS -- #}
  {% include '_partials/header/_scripts.twig' %}


  {# -- Share Image -- #}
  {% if entry ?? null and entry.entryImage.one() ?? null and watermark.globalWatermark.one() ?? null %}
    {% set watermarkField = watermark.globalWatermark.one() %}

    {# -- Check if Watermark Using active -- #}
    {% if watermarkField.useWatermark %}

      {# -- Watermark Image -- #}
      {% if watermarkField.image.one() ?? null %}
        {% set watermarkImage = watermarkField.image.one() %}
        {% set watermarkWidth = watermarkField.width %}
        {% set watermarkHeight = watermarkField.height %}
        {% set watermarkOpacity = watermarkField.opacity + 0 %}
        {% set watermarkOffsetX = watermarkField.offsetXAxis %}
        {% set watermarkOffsetY = watermarkField.offsetYAxis %}

        {# -- Imager: Watermark Image -- #}
        {% set watermarkImage = craft.imager.transformImage(watermarkImage, [
          { width: watermarkWidth, height: watermarkHeight }
        ], {
          jpegQuality: 100
        }) %}

        {# -- Watermark Image URL -- #}
        {% set watermarkImageUrl = watermarkImage[0].url %}
      {% endif %}

      {# -- Image Settings -- #}
      {% set entryImage = entry.entryImage.one() %}
      {% set focalpoint = entryImage.getFocalpoint('asCss') | default('50% 50%') %}

      {# -- Facebook -- #}
      {% set entryImageFacebook = craft.imager.transformImage(entryImage, [
        { width: 1200, height: 630 }
      ], {
        jpegQuality: 100,
        mode: 'crop',
        position: focalpoint
      }) %}

      {% set entryImageFacebookUrl = entryImageFacebook[0].url %}

      {# -- Imager: Share Image -- #}
      {% set shareIamgeFacebook = craft.imager.transformImage(entryImageFacebookUrl, [
        {
          width: 1200,
          height: 630
        }], {
        jpegQuality: 100,
        mode: 'crop',
        ratio: '',
        watermark: {
          image: watermarkImageUrl,
          width: watermarkWidth,
          height: watermarkHeight,
          position: {
            right: watermarkOffsetX,
            bottom: watermarkOffsetY
          },
          opacity: watermarkOpacity
        }
      }) %}

      {% set shareIamgeFacebookUrl = shareIamgeFacebook[0].url %}

      {# -- Twitter -- #}
      {% set entryImageTwitter = craft.imager.transformImage(entryImage, [
        { width: 1120, height: 600 }
      ], {
        jpegQuality: 100,
        mode: 'crop',
        position: focalpoint
      }) %}

      {% set entryImageTwitterUrl = entryImageTwitter[0].url %}

      {# -- Imager: Share Image -- #}
      {% set shareIamgeTwitter = craft.imager.transformImage(entryImageTwitterUrl, [
        {
          width: 1120,
          height: 600
        }], {
        jpegQuality: 100,
        mode: 'crop',
        ratio: '',
        watermark: {
          image: watermarkImageUrl,
          width: watermarkWidth,
          height: watermarkHeight,
          position: {
            right: watermarkOffsetX,
            bottom: watermarkOffsetY
          },
          opacity: watermarkOpacity
        }
      }) %}

      {% set shareIamgeTwitterUrl = shareIamgeTwitter[0].url %}

      {% if seomatic ?? null %}
        {% do seomatic.meta.ogImage(shareIamgeFacebookUrl) %}
        {% do seomatic.meta.twitterImage(shareIamgeTwitterUrl) %}
        {% do seomatic.meta.twitterCard('summary_large_image') %}
        {% do seomatic.meta.seoImage(shareIamgeFacebookUrl) %}
      {% endif %}
    {% endif %}
  {% endif %}


  {# -- SEO & TITLE TAG -- #}
  {% include '_partials/header/_seo.twig' %}

  {# -- FAV ICON -- #}
  {% include '_partials/header/_favicons.twig' %}

  {% block siteHeader %}{% endblock %}
</head>
{% minify html %}
<body id="home"
      class="{{ bodyClass is defined ? bodyClass }}  {{ craft.app.request.isLivePreview ? 'is-livePreview' }}  {{ craft.app.config.general.devMode ? 't-devMode' }}">

<div class="o-appWrapper">
  {% set phpTypographySettings = getPhpTypographySettings() %}
  {% do phpTypographySettings.set_hyphenation_language(currentSite.language) %}
  {% do phpTypographySettings.set_diacritic_language(currentSite.language) %}

  {# -- App Header -- #}
  {% include '_organisms/appHeader/_template.twig' only %}

  <div class="o-appContent">
    {% block appContent %}
      Content
    {% endblock %}
  </div>

  {# -- App Footer -- #}
  {% include '_organisms/appFooter/_template.twig' only %}
</div>

{% if craft.app.config.general.devMode %}
  {# -- gridOverlay -- #}
  {% include '_molecules/gridOverlay/_template.twig' only %}
{% endif %}

{# -- SCRIPTS -- #}
{% include '_partials/footer/_scripts.twig' only %}

</body>
{% endminify %}
<!-- Läuft, weitermachen! -->
</html>

