{#
  a-svgSprite
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'a-svgSprite',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  vSpace: null,
  icon: null
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Modul -- #}
{% if opt.icon %}
  <span class="{{ opt.cn }}
              {% for modifier in opt.modifiers %}
                {{ modifier | length ? '  ' ~ opt.cn ~ '--' ~ modifier }}
              {% endfor %}
              {% if opt.vSpace %}
                {{ '  ' ~ 'o-vSpace--' ~ opt.vSpace }}
              {% endif %}
              {% for customClass in opt.customClasses %}
                {{ customClass | length ? '  ' ~ customClass }}
              {% endfor %}  {{ opt.js ? opt.cn|replace({ 'a-' : 'js-' }) : '' }}"
      {% for key, value in opt.data %}
        {{ 'data-' ~ key ~ '=' ~ value }}
      {% endfor %}>

    <span class="{{ opt.cn ~ '__wrapper' }}">
      <span class="{{ opt.cn ~ '__inner' }}">
        <svg class="{{ opt.cn ~ '__icon' }}  {{ opt.cn ~ '--' ~ opt.icon }}"
             viewbox="0 0 48 48">
          <use xlink:href="/assets/images/svg/sprite/sprite.svg#{{ opt.icon }}"></use>
        </svg>
      </span>
    </span>
  </span>
{% endif %}
