{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{#
  a-textarea
  Codepen: https://codepen.io/davidhellmann/pen/OOLmYq
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'a-textarea',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  vSpace: null,
  name: null,
  rows: 10,
  maxlength: null,
  readonly: null,
  pattern: null,
  required: null,
  disabled: null,
  autofocus: null,
  info: null,
  label: null,
  id: null,
  placeholder: null
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Modul -- #}
{% if opt.name and opt.label %}
  <div class="{{ opt.cn }}
              {% for modifier in opt.modifiers %}
                {{ modifier | length ? '  ' ~ opt.cn ~ '--' ~ modifier }}
              {% endfor %}
              {% if opt.vSpace %}
                {{ '  ' ~ 'o-vSpace--' ~ opt.vSpace }}
              {% endif %}
              {% for customClass in opt.customClasses %}
                {{ customClass | length ? '  ' ~ customClass }}
              {% endfor %}  {{ opt.js ? opt.cn|replace({ 'a-' : 'js-' }) : '' }}">
    <div class="{{ opt.cn ~ '__wrapper' }}">
      <div class="{{ opt.cn ~ '__inner' }}">
        <textarea rows="{{ opt.rows }}" class="{{ opt.cn ~ '__textarea' }}"
                  {% if opt.id %}id="{{ opt.id }}"{% endif %}
          {% if opt.name %}name="{{ opt.name }}"{% endif %}
          {% if opt.maxlength %}maxlength="{{ opt.maxlength }}"{% endif %}
          {% for key, value in opt.data %}
            data-{{ key }}="{{ value }}"
          {% endfor %}
          {% if opt.required %} required data-required="true"{% endif %}
          {{ opt.readonly ? ' readonly' }}
          {{ opt.autofocus ? ' autofocus' }}
          {{ opt.disabled ? ' disabled' }}  placeholder="{{ opt.placeholder }}"></textarea>
        <label class="{{ opt.cn ~ '__label' }}" for="{{ opt.id }}">{{ opt.label }}</label>
        <span class="{{ opt.cn ~ '__info' }}">{{ opt.info }}</span>
      </div>
    </div>
  </div>
{% endif %}
