{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{#
  m-figure
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'm-figure',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  image: null,
  ratio: null,
  dominantColor: true,
  caption: null,
  captionHeadline: null,
  captionText: null,
  captionSource: null,
  captionSourceUrl: null,
  objectFit: null
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Modul -- #}
{% if opt.image %}
  <div class="{{- opt.cn -}}
              {% for modifier in opt.modifiers %}
                {{- modifier | length ? '  ' ~ opt.cn ~ '--' ~ modifier -}}
              {% endfor %}
              {% for customClass in opt.customClasses %}
                {{ customClass | length ? '  ' ~ customClass }}
              {% endfor %}  {{- opt.js ? '  ' ~ opt.cn|replace({ 'm-' : 'js-' }) : '' -}}
              {% for key, value in opt.data %}
                {{- '  data-' ~ key ~ '=' ~ value -}}
              {% endfor %}
       itemprop=" associatedMedia"
  itemscope itemtype="http://schema.org/ImageObject">

  <div class="{{- opt.cn ~ '__image' -}}">
    {# -- image -- #}
    {% include '_atoms/image/_template.twig' with {
      opt: {
        image: opt.image,
        ratio: opt.ratio,
        dominantColor: opt.dominantColor,
        objectFit: opt.objectFit
      }
    } only %}
  </div>

  {% if opt.caption %}
    <div class="{{- opt.cn ~ '__caption' -}}">
      {# -- caption -- #}
      {% include '_molecules/caption/_template.twig' with {
        opt: {
          headline: opt.captionHeadline ?? null,
          text: opt.captionText ?? null,
          source: opt.captionSource ?? null,
          sourceUrl: opt.captionSourceUrl ?? null
        }
      } only %}
    </div>
  {% endif %}
  </div>
{% endif %}
