{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{#
  Description of what this file is for

  @package  baukasten
  @author David Hellmann [davidhellmann.com@gmail.com]

  o-richTextMarginals
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'o-richTextMarginals',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  text: null,
  marginals: null,
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Modul -- #}
{% if opt.text %}
  <div class="{{ opt.cn }}
              {% for modifier in opt.modifiers %}
                {{ modifier | length ? '  ' ~ opt.cn ~ '--' ~ modifier }}
              {% endfor %}
              {% for customClass in opt.customClasses %}
                {{ customClass | length ? '  ' ~ customClass }}
              {% endfor %}  {{ opt.js ? opt.cn|replace({ 'o-' : 'js-' }) : '' }}"
    {% for key, value in opt.data %}
      {{ 'data-' ~ key ~ '=' ~ value }}
    {% endfor %}>

    {# -- Marginal First -- #}
    {% if opt.marginals | length >= 1 %}
      {% set marginalFirst = opt.marginals.marginal[0] ?? null %}
      {% if marginalFirst ?? null %}
        <aside class="{{ opt.cn ~ '__aside' }}  {{ opt.cn ~ '__aside--first' }}">
          {% include '_contentBuilders/_contentBuilderModulesMatrix.twig' with { data: marginalFirst } only %}
        </aside>
      {% endif %}
    {% endif %}

    {# -- Text -- #}
    <div class="{{ opt.cn ~ '__text' }}">
      {{ opt.text | raw }}
    </div>

    {# -- Marginal Last -- #}
    {% if opt.marginals | length > 1 %}
      {% set marginalLast = opt.marginals.marginal[0] ?? null %}
      {% if marginalLast ?? null %}
        <aside class="{{ opt.cn ~ '__aside' }}  {{ opt.cn ~ '__aside--last' }}">
          {% include '_contentBuilders/_contentBuilderModulesMatrix.twig' with { data: marginalLast } only %}
        </aside>
      {% endif %}
    {% endif %}
  </div>
{% endif %}
