{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{#
  Description of what this file is for

  @package  baukasten
  @author David Hellmann [davidhellmann.com@gmail.com]

  o-imageGallery
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'o-imageGallery',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  images: null,
  ratio: null,
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Modul -- #}
{% if opt.images %}
  <div class="o-row  {{ opt.cn }}
              {% for modifier in opt.modifiers %}
                {{ modifier | length ? '  ' ~ opt.cn ~ '--' ~ modifier }}
              {% endfor %}
              {% for customClass in opt.customClasses %}
                {{ customClass | length ? '  ' ~ customClass }}
              {% endfor %}  {{ opt.js ? opt.cn|replace({ 'o-' : 'js-' }) : '' }}"
              {% for key, value in opt.data %}
                {{ 'data-' ~ key ~ '=' ~ value }}
              {% endfor %} itemscope itemtype="http://schema.org/ImageGallery">
    {% for image in opt.images %}
      {% set imageSrc = image.pluginOptimizedImagesAuto.src() %}
      {% set imageMaxWidth = image.pluginOptimizedImagesAuto.maxSrcsetWidth() %}
      {% set imageMaxHeight = (imageMaxWidth / image.width) * image.height %}

      <figure class="o-col-6  o-col-s-8  o-col-l-4  {{ opt.cn ~ '__figure' }}">
        <a class="{{ opt.cn ~ '__link' }}"
           href="{{ imageSrc }}"
           itemprop="contentUrl"
           data-size="{{ imageMaxWidth }}x{{ imageMaxHeight }}">

          {% include '_atoms/image/_template.twig' with {
            opt: {
              image: image,
              ratio: opt.ratio
            }
          } only %}
        </a>
      </figure>
    {% endfor %}
  </div>
{% endif %}
